.leaderboard-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: center;
  background-color: lightgray;
  box-sizing: border-box;
  width: 820px;
  max-width: 100%;
  height: 500px;
}

.leaderboard-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: green;
}

.leaderboard-graph {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  background-color: beige;
}

.leaderboard-graph-bar {
  display: flex;
  flex: 1;
  background-color: lightcoral;
}

.ranking-header {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 100%;
}

.add-button {
  padding: 10px;
  width: 200px;
  align-self: center;
  margin: 40px 0;
}
